<!-- 
Header file which contains links to the different sections of the application.
Contains three main areas: appname/logo, global navigation, and application navigation.
-->
<div class="appheader">
    <div class="oj-row appheader-classic">
        <div class="oj-col appheader-col">
            <div class="oj-row">

                <!-- Button that toggles off-canvas content. -->  
                <div id="header-toggle-button" data-bind="ojModule: {viewName: 'view-parts/header/toggle-button'}"></div>

                <!-- logo -->  
                <div id="header-logo" data-bind="ojModule: {viewName: 'view-parts/header/logo'}"></div>

                <!-- Toolbar -->  
                <div id="header-tool-bar" data-bind="ojModule: {viewName: 'view-parts/header/tool-bar'}"></div>

                <!-- Application Navigation -->
                <div id="header-home-menu" data-bind="ojModule: {viewName: 'view-parts/header/home-menu'}"></div>
            </div>
        </div>
    </div>
</div> 


